__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

.venv/
venv/
.env/
.env*/

.ipynb_checkpoints/

build/
dist/
*.egg-info/
.eggs/

*.log
*.out
*.tmp

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp


.cache/
.mypy_cache/
.pytype/
pytest_cache/

checkpoints/

*.ipynb~

dataset/